/* main cocteles */

.main-cocteles{
    background-color:nth($list: $colors, $n: 2);
    background-image: url(../assets/logo-diagonal.svg);

    section video{
        width: 100%; 
        height: auto
    }

    .titulo-cocteles{
        font-family: 'Philosopher', sans-serif;
        background-color: nth($list: $colors, $n: 4);
        border-radius: 0px 0px 30px 30px;
        margin: 0rem 10rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 3px 9px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 5px 3px 9px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 3px 9px 0px rgba(0,0,0,0.7);

        h1{
            text-align: center;
        }

        p{
            color: nth($list: $colors, $n: 1);
            font-size: 25px;
            margin-top: 2rem;
            text-align: center;
        }
    }

    .cocteles{
        font-family: 'Philosopher', sans-serif;
        padding: 4rem;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        margin: 1rem 1rem 1rem 1rem;
        gap: 8rem 3rem;

        div img{
            width: 80%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            box-shadow: 9px 5px 18px 0px rgba(0,0,0,0.7);
            -webkit-box-shadow: 9px 5px 18px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 9px 5px 18px 0px rgba(0,0,0,0.7);
        }

        .text-ginger{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        .text-lemon{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        .text-tea{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
    }
}